/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT [CentroId]
      ,[Nombre]
      ,[SucursalId]
      ,[TipoCosteo]
      ,[Costeo]
      ,[PrecioTon]
  FROM [LYBK].[dbo].[tblCentroTrabajo]