/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT [ItemId]
      ,[Descripcion]
      ,[ItemFId]
      ,[Calidad]
      ,[Espesor]
      ,[Uso]
      ,[Presentacion]
      ,[TipoMaterial]
      ,[UnidadF]
      ,[Piramide]
      ,[UnidadesXCelda]
      ,[UnidadCalculo]
      ,[Id_DimSeguimiento]
  FROM [LYBK].[dbo].[tblItem]
  where itemid='2993-9'