<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supported Runtimeversion="v4.0"/>
  </startup>
  <!-- <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>  -->
  <connectionStrings>
    <add name="SQLSERVER2" connectionString="Server=10.10.100.26;Database=LYBK; Uid=sa;Password=Passw0rd" providerName="System.Data.SqlClient" />
    <add name="FTODO" connectionString="Server=10.10.100.26;Database=FTODO;Integrated Security=No; Uid=sa;Password=Passw0rd" providerName="System.Data.SqlClient" />
    <!-- <add name="SQLSERVER" connectionString="Server=192.168.0.200;Database=LYBK;Integrated Security=No; Uid=sa;Password=PlantaV." providerName="System.Data.SqlClient"/> -->
    <!-- <add name="SQLSERVER" connectionString="Server=10.10.100.26;Database=LYBK; Uid=sa;Password=Passw0rd" providerName="System.Data.SqlClient"/> -->
    <add name="SQLSERVER" connectionString="Server=192.168.0.200;Database=LYBK;Integrated Security=No; Uid=sa;Password=PlantaV." providerName="System.Data.SqlClient"/>
    <add name="SQLSERVER1" connectionString="Server=192.168.0.200;Database=ENSAYO;Integrated Security=No; Uid=sa;Password=PlantaV." providerName="System.Data.SqlClient" /> 
    <add name="SQLSERVER4" connectionString="Server=192.168.0.200;Database=ElsystemNet_Ferrotodo;Integrated Security=No; Uid=sa;Password=PlantaV." providerName="System.Data.SqlClient" />
    <add name="FTINF" connectionString="Database=siscome;Host=erp.ferrotodo.com;Server=ftsrvinf01;Service=9088;Protocol=onsoctcp;UID=clremoto;Password=clremoto;" providerName="IBM.Data.Informix"/>
    <!--<add name="FTINF" connectionString="Database=siscome;Host=10.10.100.90;Server=ftsrvtest;Service=9088;Protocol=onsoctcp;UID=usrtest;Password=usrtest;" providerName="IBM.Data.Informix"/>-->
    <!--<add name="WFConsumo.Properties.Settings.EnsayoConnectionString" connectionString="Data Source=192.168.0.200;Initial Catalog=Ensayo;User ID=sa;Password=PlantaV." providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="serviceEndpoint">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="serviceEndpoint1">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_FTSendXmlBomJournalService">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_FTSendXmlBomJournalService1">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://provitsrv05.ferrotodo.com/MicrosoftDynamicsAXAif60/FTSendXMLBomJournal/xppservice.svc" binding="basicHttpBinding" bindingConfiguration="serviceEndpoint1" contract="FTBomJournalSendXML.IRequestReplyRouter" name="serviceEndpoint1" />
      <endpoint address="http://provitsrv05.ferrotodo.com/MicrosoftDynamicsAXAif60/FTSendXMLBomJournal/xppservice.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_FTSendXmlBomJournalService" contract="FTBomJournalSendXML.FTSendXmlBomJournalService" name="BasicHttpBinding_FTSendXmlBomJournalService" />
      <endpoint address="http://provitsrv05.ferrotodo.com/MicrosoftDynamicsAXAif60/FTSendXMLBomJournal/xppservice.svc" binding="basicHttpBinding" bindingConfiguration="serviceEndpoint" contract="BoomJournalServRef.IRequestReplyRouter" name="serviceEndpoint" />
      <endpoint address="http://provitsrv05.ferrotodo.com/MicrosoftDynamicsAXAif60/FTSendXMLBomJournal/xppservice.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_FTSendXmlBomJournalService1" contract="BoomJournalServRef.FTSendXmlBomJournalService" name="BasicHttpBinding_FTSendXmlBomJournalService1" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>